#welcome1 {
    margin-bottom: 10px;

    padding-top: 100px;
    padding-left: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: #ffffff;
}
#welcome2 {
    
    
    padding-left: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 36px;
    line-height: 42px;
    color: #ffffff;
}
html {
    background-color: #3574f3;
}
#Text {
    padding-top: 60px;
    padding-left: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #ffffff;
}


.weiter {
    padding-bottom: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #ffffff;
    border: none;
    padding: 0;
    background: none;
}
.arrow-button {
    height: 30px;
    width: 30px;
    background: url(np_next_2960578_FFFFFF.png);   
    border-color: transparent;
    padding: 0;
    
}
.slidebar-point1 {
    
    margin-inline-end: 19px;
    margin-left: 100px;
    height: 18px;
    width: 18px;
    border: solid transparent;
    border-radius: 50%;
    background: #ffffff;
}
.slidebar-point2 {
    margin-left: 20px;
    margin-inline-end: 19px;
    height: 18px;
    width: 18px;
    border: solid transparent;
    border-radius: 1cm;
    background: #c4c4c4;
}


.container-slidebar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 57px;
    padding-left: 70px;
    padding-right:70px;
    box-sizing: border-box;
    
}
.container {
    width: 100%;
    height: 87vh;
}
.points {
    display: flex;
    border-radius: 3cm;
    margin-left: 1000px;
    
}


